---
---
<nav class=" bg-white w-full flex relative justify-between items-center mx-auto px-8 h-20">
    <div class="inline-flex">
        <a class="" href="/"
            ><div class="hidden md:block">
                <!-- desktop logo -->
               <p class="text-2xl font-bold">Logo here</p>
            </div>
            <div class="block md:hidden">
                <!-- mobile logo / hamburger -->
                <p class="text-md font-semibold">Mobile logo</p>

            </div>
        </a>
    </div>

    <div class="hidden sm:block flex-shrink flex-grow-0 justify-start px-2">
        <p class="text-1xl">
            <!-- optional center nav or logo -->
            Optional center area
        </p>
    </div>

    <div class="flex-initial">
        <!-- Change navigation -->
       <ul class="flex flex-row gap-5">
        <li><a>Home</a></li>
        <li><a>About</a></li>
        <li><a>Blog</a></li>
       </ul>
      
    </div>
</nav>